<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		
	</title>
</head>

<!-- CLASE PRACTICA DE Programacion visual-->

<body>

<!-- punto1 -->
<header>
	<h1>TRABAJO PRACTICO NUMERO 4 (HTML)</h1>
	<img src="images/captura.png" alt="Imagen de mi escritorio" title="Muestra de mi imagen" width="920px" height="500px" />

</header>
	<nav>
	
	<ul>
      <li> <a href="indexPv.html"> Inicio</a></li>
       <li> <a href="agenda.html" >Agenda</a></li>
        <li> <a href="beneficios.html" > Beneficios y Beca</a></li>
         <li> <a href="contactos.html" > Contactanos</a></li>
       
	</ul>

	</nav>

	<section>
		<h2>Cursos con inscripcion abierta</h2>
        <ol>
	<li> <a href=""> Idiomas</a></li>
       <li> <a href="" >Diseño</a></li>
        <li> <a href="" >Desarrollo</a></li>
         <li> <a href="" >Marketing</a></li>
         <li> <a href="" >Conferencia </a></li>
</ol>
	</section>

	<footer>
		<p>
			telefono(388)5892151
		</p>
	</footer>




</body>
<!-- static/{images,videos}-->


</html>